<div id="side-bar"></div>
<section class='user-content'>
  <h1>マッチング・お勤め先の所属証明の提出</h1>
  <form id="evidence_form" action="/evidences" method="POST" enctype="multipart/form-data">
    {{#if isRegistered}}
      <input type="hidden" name="company_name" value="{{company_name}}">
      <p>現在の登録情報</p>
      <p>登録番号:{{id}}</p>
      <p>会社名:{{company_name}}</p>
      <p>マッチング:{{#if matching}}利用する{{else}}利用しない{{/if}}</p>
      <p>状態:{{state}}</p>

      <p>訂正を希望する場合、<a href="https://discourse.f-syukatu-community.com/u/programmer-d/summary">技術担当者</a>までご連絡ください。</p>
      <hr>
    {{else}}
      <input type="hidden" name="need_evidence" value="{{evidence}}">

      <p>会社名を、株式会社も含めた正式名称で入力してください。</p>
      <input type="text" name="company_name">
      <hr>
      <label>
        <input type="file" class="form-control" name="evidence" id="image"/>
      </label>
      <p>会社等に在籍していることを確認できる書類（名刺or社員証）＋身分証名証（保険証、運転免許証など）を1枚の画像に収めてください。</p>

      <hr>
      <p>この情報をマッチングに利用しますか？</p>
      <input type="radio" name="matching" value="accept">はい
      <input type="radio" name="matching" value="reject" checked>いいえ
      <hr>
      <button type='button' class='btn btn-primary' {{action "upload_evidence"}}>
        審査申請
      </button>
      <p id="state"></p>
    {{/if}}


  </form>

</section>


